<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantra Report</title>

    <style>
        body {
            display: grid;
            grid-template-areas:
                "n h b"
                "n m b"
                "f f f";
            grid-template-columns: 1fr 3fr minmax(10%, 1fr);
            grid-template-rows: 1fr auto 50px;
        }
        body > header {
            grid-area: h;
        }
        body > nav {
            grid-area: n;
            padding-right: 50px;
        }
        body > main {
            grid-area: m;
        }
        body > footer {
            grid-area: f;
        }

        /* from: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
        a.external-link::after
        {
            content: "";
            width: 11px;
            height: 11px;
            margin-left: 4px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }
    </style>
</head>
<body>
    <nav>
        <h3>Content</h3>
        <ul>
            <li>
                <a href="#criteria">Criteria</a>
            </li>
            <li>
                <a href="#requirements">Requirements</a>
                {% if requirements | length > 0 %}
                <ul>
                    {% for req in requirements %}
                    <li><a href="#{{ req.id }}">{{ req.id }}</a>{% if req.manual %} (manual{% if not req.valid %}, <span class="invalid">invalid</span>{% endif %})
                        {% elif req.deprecated %} (deprecated{% if not req.valid %}, <span class="invalid">invalid</span>{% endif %})
                        {% elif not req.valid %} <span class="invalid">(invalid)</span>
                        {% endif %}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="#tests">Tests</a>
                {% if tests.test_runs | length > 0 %}
                <ul>
                    {% for test_run in tests.test_runs %}
                    <li>  
                        <a
                            href="#{{ test_run.name }}|{{ test_run.date }}"
                            class="nav-test-run-link"
                        >
                            <span class="test-run-name">{{ test_run.name }}</span>
                            <span class="test-run-date">{{ test_run.date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}</span>
                        </a>
                        {% if test_run.tests | length > 0 %}
                        <ul>
                            {% for test in test_run.tests %}
                            <li>
                                <a
                                    href="#{{ test_run.name }}|{{ test_run.date }}|{{ test.name }}"
                                    class="test-name"
                                >
                                {{ test.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="#reviews">Reviews</a>
                {% if reviews | length > 0 %}
                <ul>
                    {% for review in reviews %}
                    <li>
                        <a
                            id="{{ review.name }}|{{ review.date }}"
                            class="review-link"
                        >
                            <span class="review-name">{{ review.name }}</span>
                            <span class="review-date">{{ review.date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        </ul>
    </nav>

    <header>
        <!-- TODO: add project name, version, and link to report -->
        <h1>Mantra Report for <a class="external-link" href="https://github.com/mhatzl/mantra">mantra v0.1.0</a></h1>
        <section id="criteria">
            <p><strong>This report was generated by <em>mantra</em> with the following criteria:</strong></p>
            <ul>
                <li>
                    <p><strong>Tracing</strong></p>
                    <p class="criteria-content">{{ trace_criteria }}</p>
                </li>
                <li>
                    <p><strong>Test Coverage</strong></p>
                    <p class="criteria-content">{{ test_coverage_criteria }}</p>
                </li>
                <li>
                    <p><strong>Validation</strong></p>
                    <p class="criteria-content">{{ validation.criteria }}</p>
                </li>
            </ul>
        </section>
    </header>

    <main>
        <section id="requirements">
            <h2>Requirements</h2>
            {%if not validation.is_valid %}
            <div id="invalid-requirements">
                <p>This report has {{ validation.invalid_reqs | length }} <strong>invalid</strong> requirement{% if validation.invalid_reqs | length != 1 %}s{% endif %}:</p>
                <ul>
                    {% for invalid_req in validation.invalid_reqs %}
                    <li><a href="#{{ invalid_req }}">{{ invalid_req }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <h3>Overview</h3>
            <ul>
                <li>
                    <p><strong>Existing requirements:</strong> {{ overview.req_cnt }}</p>
                </li>
                <li>
                    <p><strong>Traced requirements:</strong> {{ overview.traced_cnt }} ({{ overview.traced_ratio * 100 }}%)</p>
                </li>
                <li>
                    <p><strong>Covered requirements:</strong> {{ overview.covered_cnt }} ({{ overview.covered_ratio * 100 }}%)</p>
                </li>
                <li>
                    <p><strong>Passed requirements:</strong> {{ overview.passed_cnt }} ({{ overview.passed_ratio * 100 }}%)</p>
                </li>
                <li>
                    <p><strong>Manually verified requirements:</strong> {{ overview.verified_cnt }} ({{ overview.verified_ratio * 100 }}%)</p>
                </li>
            </ul>

            <div id="requirements-list">
            {% for req in requirements %}
                <div id="{{ req.id }}" class="requirement-info">
                    <div class="requirement-header">
                        <h3>
                            {{ req.id }}
                            {% if req.manual %} (manual{% if not req.valid %}, <span class="invalid">invalid</span>{% endif %})
                            {% elif req.deprecated %} (deprecated{% if not req.valid %}, <span class="invalid">invalid</span>{% endif %})
                            {% elif not req.valid %} <span class="invalid">(invalid)</span>
                            {% endif %}
                        </h3>
                        <p>Parent: {% if req.parent %}
                            <a href="#{{ req.parent }}">{{ req.parent }}</a>
                            {% else %}none{% endif %}
                        </p>
                    </div>
                
                    <div class="requirement-status-origin">
                        <div class="requirement-status">
                            {% if req.manual and not req.trace_info.traced %}
                            <p><strong>Status (manual)</strong></p>
                            <table>
                                <tr>
                                    <td>
                                        {% if req.verified_info | length > 0 %}
                                        <span class="verified">verified</span>
                                        {% else %}
                                        <span class="unverified">unverified</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% else %}
                            <p><strong>Status</strong></p>
                            <table>
                                <tr>
                                    <td>
                                        {% if req.trace_info.fully_traced %}
                                        <span class="fully-traced">fully-traced</span>
                                        {% elif req.trace_info.traced %}
                                        <span class="traced">traced</span>
                                        {% else %}
                                        <span class="untraced">untraced</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if req.test_coverage_info.fully_covered %}
                                        <span class="fully-covered">fully-covered</span>
                                        {% elif req.test_coverage_info.passed %}
                                        <span class="passed-covered">passed-covered</span>
                                        {% elif req.test_coverage_info.covered %}
                                        <span class="covered">covered</span>
                                        {% else %}
                                        <span class="uncovered">uncovered</span>
                                        {% endif %}
                                    </td>
                                </tr>

                                {% if req.leaf_statistic %}
                                <tr>
                                    <td>
                                        {% if req.leaf_statistic.traced_leaf_cnt == req.leaf_statistic.leaf_cnt %}
                                        <span class="all-leafs-traced">leafs-traced: {{ req.leaf_statistic.traced_leaf_cnt }}/{{ req.leaf_statistic.leaf_cnt }}</span>
                                        {% elif req.leaf_statistic.traced_leaf_cnt == 0 %}
                                        <span class="no-leaf-traces">leafs-traced: {{ req.leaf_statistic.traced_leaf_cnt }}/{{ req.leaf_statistic.leaf_cnt }}</span>
                                        {% else %}
                                        <span class="leaf-traces">leafs-traced: {{ req.leaf_statistic.traced_leaf_cnt }}/{{ req.leaf_statistic.leaf_cnt }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if req.leaf_statistic.passed_covered_leaf_cnt == req.leaf_statistic.leaf_cnt %}
                                        <span class="all-leafs-passed">leafs-passed: {{ req.leaf_statistic.passed_covered_leaf_cnt }}/{{ req.leaf_statistic.leaf_cnt }}</span>
                                        {% elif req.leaf_statistic.passed_covered_leaf_cnt == 0 %}
                                        <span class="no-leaf-passed">leafs-passed: {{ req.leaf_statistic.passed_covered_leaf_cnt }}/{{ req.leaf_statistic.leaf_cnt }}</span>
                                        {% else %}
                                        <span class="leaf-passed">leafs-passed: {{ req.leaf_statistic.passed_covered_leaf_cnt }}/{{ req.leaf_statistic.leaf_cnt }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}

                                {% if req.verified_info | length > 0 %}
                                <tr>
                                    <td class="verified">verified</td>
                                    <td></td>
                                </tr>
                                {% endif %}
                            </table>
                            {% endif %}
                        </div>
                        
                        <div class="requirement-origin">
                            {% if req.origin.GitHub %}
                            <p><strong>Wiki-Origin</strong></p>
                            <p><a class="external-link" href="#{{ req.origin.GitHub.link }}/{{ req.origin.GitHub.path }}">{{ req.origin.GitHub.link }}/{{ req.origin.GitHub.path }}</a> at line {{ req.origin.GitHub.line }}</p>
                            {% endif %}
                        </div>
                        
                    </div>
                    
                    <div class="requirement-details">
                        <div class="requirement-children">
                            <p class="requirement-details-header"><strong>Direct Children ({{ req.direct_children | length }})</strong></p>
                            {% if req.direct_children | length > 0 %}
                            <ul>
                                {% for child_id in req.direct_children %}
                                <li><a href="#{{ child_id }}">{{ child_id }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        
                        <div class="requirement-direct-traces">
                            <p class="requirement-details-header"><strong>Direct Traces ({{ req.trace_info.direct_traces | length }})</strong></p>
                            {% if req.trace_info.direct_traces | length > 0 %}
                            <table>
                                <tr>
                                    <th class="filepath">filepath</th>
                                    <th class="line">line</th>
                                </tr>
                                {% for trace in req.trace_info.direct_traces %}
                                <tr>
                                    <td id="{{ req.id }}|{{ trace.filepath }}|{{ trace.line }}" class="filepath">{{ trace.filepath }}</td>
                                    <td class="line">{{ trace.line }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </div>
                        
                        <div class="requirement-indirect-traces">
                            <p class="requirement-details-header"><strong>Indirect Traces ({{ req.trace_info.indirect_traces | length }})</strong></p>
                            {% if req.trace_info.indirect_traces | length > 0 %}
                            <table>
                                <tr>
                                    <th class="req-id">traced-id</th>
                                    <th class="filepath">filepath</th>
                                    <th class="line">line</th>
                                </tr>
                                {% for trace in req.trace_info.indirect_traces %}
                                <tr>
                                    <td class="req-id"><a href="#{{ trace.traced_id }}">{{ trace.traced_id }}</a></td>
                                    <td class="filepath">{{ trace.filepath }}</td>
                                    <td class="line">{{ trace.line }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </div>

                        <div class="requirement-direct-coverage">
                            <p class="requirement-details-header"><strong>Direct Coverage ({{ req.test_coverage_info.direct_coverage | length }})</strong></p>
                            {% if req.test_coverage_info.direct_coverage | length > 0 %}
                            <table>
                                <tr>
                                    <th class="test-run-name">test-run-name</th>
                                    <th class="test-run-date">test-run-date</th>
                                    <th class="test-name">test-name</th>
                                    <th class="trace">trace</th>
                                    <th class="coverage-state">state</th>
                                </tr>
                                {% for coverage in req.test_coverage_info.direct_coverage %}
                                <tr>
                                    <td class="test-run-name"><a href="#{{ coverage.test_run_name }}|{{ coverage.test_run_date }}">
                                        {{ coverage.test_run_name }}
                                    </a></td>
                                    <td class="test-run-date">{{ coverage.test_run_date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}</td>
                                    <td class="test-name"><a href="#{{ coverage.test_run_name }}|{{ coverage.test_run_date }}|{{ coverage.test_name }}">
                                        {{ coverage.test_name }}
                                    </a></td>
                                    <td class="trace"><a href="#{{ req.id }}|{{ coverage.trace_filepath }}|{{ coverage.trace_line }}">
                                        {{ coverage.trace_filepath }}#{{ coverage.trace_line }}
                                    </a></td>
                                    <td class="coverage-state">{% if coverage.passed %}passed{% else %}failed{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </div>

                        <div class="requirement-indirect-coverage">
                            <p class="requirement-details-header"><strong>Indirect Coverage ({{ req.test_coverage_info.indirect_coverage | length }})</strong></p>
                            {% if req.test_coverage_info.indirect_coverage | length > 0 %}
                            <table>
                                <tr>
                                    <th class="req-id">covered-id</th>
                                    <th class="test-run-name">test-run-name</th>
                                    <th class="test-run-date">test-run-date</th>
                                    <th class="test-name">test-name</th>
                                    <th class="trace">trace</th>
                                    <th class="coverage-state">state</th>
                                </tr>
                                {% for coverage in req.test_coverage_info.indirect_coverage %}
                                <tr>
                                    <td class="req-id"><a href="#{{ coverage.covered_id }}">{{ coverage.covered_id }}</a></td>
                                    <td class="test-run-name"><a href="#{{ coverage.test_run_name }}|{{ coverage.test_run_date }}">
                                        {{ coverage.test_run_name }}
                                    </a></td>
                                    <td class="test-run-date">{{ coverage.test_run_date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}</td>
                                    <td class="test-name"><a href="#{{ coverage.test_run_name }}|{{ coverage.test_run_date }}|{{ coverage.test_name }}">
                                        {{ coverage.test_name }}
                                    </a></td>
                                    <td class="trace"><a href="#{{ coverage.covered_id }}|{{ coverage.trace_filepath }}|{{ coverage.trace_line }}">
                                        {{ coverage.trace_filepath }}#{{ coverage.trace_line }}
                                    </a></td>
                                    <td class="coverage-state">{% if coverage.passed %}passed{% else %}failed{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </div>
               
                        <div class="requirement-reviewed">
                            <p class="requirement-details-header"><strong>Verified in Reviews ({{ req.verified_info | length }})</strong></p>
                            {% if req.verified_info | length > 0 %}
                            <table>
                                <tr>
                                    <th class="review-name">review-name</th>
                                    <th class="review-date">review-date</th>
                                    <th class="comment">comment</th>
                                </tr>
                                {% for info in req.verified_info %}
                                <tr>
                                    <td class="review-name"><a href="#{{ info.review_name }}|{{ info.review_date }}">
                                        {{ info.review_name }}
                                    </a></td>
                                    <td class="review-date">{{ info.review_date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}</td>
                                    <td class="comment">{{ info.comment }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
        <section id="tests">
            <h2>Tests</h2>
            <h3>Overview</h3>
            <ul>
                <li>
                    <p><strong>Existing tests:</strong> {{ tests.overview.test_cnt }}</p>
                </li>
                <li>
                    <p><strong>Ran tests:</strong> {{ tests.overview.ran_cnt }} ({{ tests.overview.ran_ratio * 100 }}%)</p>
                </li>
                <li>
                    <p><strong>Passed tests:</strong> {{ tests.overview.passed_cnt }} ({{ tests.overview.passed_ratio * 100 }}%)</p>
                </li>
                <li>
                    <p><strong>Failed tests:</strong> {{ tests.overview.failed_cnt }} ({{ tests.overview.failed_ratio * 100 }}%)</p>
                </li>
                <li>
                    <p><strong>Skipped tests:</strong> {{ tests.overview.skipped_cnt }} ({{ tests.overview.skipped_ratio * 100 }}%)</p>
                </li>
            </ul>

            <div class="test-runs">
                <h3>Test Runs ({{ tests.test_runs | length }})</h3>
                {% for test_run in tests.test_runs %}
                    <div id="{{ test_run.name }}|{{ test_run.date }}" class="test-run">
                        <div class="test-run-header">
                            <span class="test-run-name">
                                {{ test_run.name }}
                                at
                                {{ test_run.date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}
                            </span>
                            <span class="test-run-state">
                                {% if test_run.overview.failed_cnt > 0 or test_run.overview.ran_cnt != test_run.overview.test_cnt %}
                                <span class="failed">failed</span>
                                {% elif test_run.overview.skipped_cnt == test_run.overview.test_cnt %}
                                <span class="skipped">skipped</span>
                                {% elif test_run.overview.passed_cnt == test_run.overview.test_cnt %}
                                <span class="passed">passed</span>
                                {% else %}
                                <span class="partial-passed">partial-passed</span>
                                {% endif %}
                            </span>
                        </div>
                        <div class="test-run-overview">
                            <strong>Overview</strong>
                            <ul>
                                <li>
                                    <p><strong>Existing Tests:</strong> {{ test_run.overview.test_cnt }}</p>
                                </li>
                                <li>
                                    <p><strong>Ran tests:</strong> {{ test_run.overview.ran_cnt }} ({{ test_run.overview.ran_ratio * 100 }}%)</p>
                                </li>
                                <li>
                                    <p><strong>Passed tests:</strong> {{ test_run.overview.passed_cnt }} ({{ test_run.overview.passed_ratio * 100 }}%)</p>
                                </li>
                                <li>
                                    <p><strong>Failed tests:</strong> {{ test_run.overview.failed_cnt }} ({{ test_run.overview.failed_ratio * 100 }}%)</p>
                                </li>
                                <li>
                                    <p><strong>Skipped tests:</strong> {{ test_run.overview.skipped_cnt }} ({{ test_run.overview.skipped_ratio * 100 }}%)</p>
                                </li>
                            </ul>
                        </div>

                        <strong>Tests</strong>
                        <div class="test-run-tests">
                            {% for test in test_run.tests %}
                                <div id="{{ test_run.name }}|{{ test_run.date }}|{{ test.name }}" class="test">
                                    <div class="test-header">
                                        <p>{{ test.name }}</p>
                                        <p>
                                            {% if test.state == 'Passed'%}
                                            <span class="passed">passed</span>
                                            {% elif 'Skipped' in test.state %}
                                            <span class="skipped">skipped</span>
                                            {% else %}
                                            <span class="failed">failed</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    
                                    <p>The test is located in file '{{ test.filepath }}' at line '{{ test.line }}'.</p>

                                    <details class="test-covers">
                                        <summary>
                                            <strong>Covers {{ test.covers | length }} requirement{% if test.covers | length != 1 %}s{% endif %}</strong>
                                        </summary>
                                        <ul>
                                            {% for id in test.covers %}
                                            <li><a href="#{{ id }}">{{ id }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </details>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <details class="test-run-logs">
                        <summary><strong>Logs during test run...</strong></summary>
                        <p>{{ test_run.logs }}</p>
                    </details>
                {% endfor %}
            </div>
        
        </section>
        <section id="reviews">
            <h2>Reviews ({{ reviews | length }})</h2>
            {% for review in reviews %}
            <div id="{{ review.name }}|{{ review.date }}" class="review">
                <div class="review-header">
                    <p>{{ review.name }}</p>
                    <p>{{ review.date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}</p>
                </div>
                <div class="review-content">
                    <div class="review-reviewer">
                        <p><strong>Reviewer</strong></p>
                        <p>{{ review.reviewer }}</p>
                    </div>
                    <div class="review-comment">
                        <p>Comment</p>
                        <p>{{ review.comment }}</p>
                    </div>
                    <div class="review-requirements">
                        <p><strong>Verified Requirements ({{ review.verified_reqs | length }})</strong></p>
                        {% for req in review.verified_reqs %}
                        <div class="verified-requirement">
                            <a href="#{{req.id}}">{{req.id}}</a>
                            <p class="verified-requirement-comment">{{ req.comment }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            {% endfor %}
        </section>
    </main>

    <footer>
        Report generated at {{ creation_date | date(format="%Y-%m-%d %H:%M:%S", timezone="Europe/Berlin") }}
    </footer>
</body>
</html>